@import "./reset.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  padding-top: 64px;
  padding-bottom: 198px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #eff0f2;
  opacity: 0.99;
}

.container__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: #eff0f2;
}

.header__logo {
  border: 6px solid #170f1c;
  padding: 6px 9px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  font-family: Montserrat;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.02px;
}

.header__logo span {
  color: #77efe5;
  font-size: 21px;
  letter-spacing: 1.26px;
}

/*BURGER*/

.burger__wrapper {
  width: 200px;
  background-color: rgb();
  position: relative;
  color: white;
  text-align: center;
  height: 40px;
}

#check-menu {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

.burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 3px;
  background-color: #606061;
  transition: 0.5s all;
}

.second,
.third {
  top: 18px;
}

.fourth {
  top: 28px;
}

.main-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.burger__link {
  display: block;
  width: 100%;
  padding: 10px;
  color: #505050;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.burger__link:first-child {
  border-top: 0;
}

.burger__link:hover {
  color: #000;
}

#check-menu:checked ~ .main-menu {
  max-height: 500px;
  font-size: 15px;
}

#check-menu:checked ~ .first {
  display: none;
}

#check-menu:checked ~ .second {
  transform: rotate(45deg);
}

#check-menu:checked ~ .third {
  transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
  display: none;
}

/* section first */

.section__first {
  height: 560px;
  background-color: #eff0f2;
}

.offer {
  text-align: center;
  width: 100%;
}

.offer__title {
  text-align: center;
  font-family: "montserrat";
  font-weight: 700;
  font-size: 45px;
  color: #505050;
  text-transform: uppercase;
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
  line-height: 28px;
  letter-spacing: 2.7px;
  margin-bottom: 150px;
}

.offer__title h1 {
  padding: 25px 0px 0px 0px;
}

.offer__title span {
  padding: 0px 10px;
  background-color: #76f4ea;
  opacity: 0.5;
}

.btn {
  border: 2px solid #777879;
  padding: 17px 45px 17px 45px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #606061;
  line-height: 13px;
}

.btn:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.glass {
  position: absolute;
  left: 85%;
}

/* about us */

.section__two {
  height: auto;
  background-color: #f8fafa;
}

.container__aboutus {
  padding-top: 129px;
  padding-bottom: 113px;
}

.section__header {
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  color: #000000;
  opacity: 0.9;
  font-family: "Montserrat";
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2.28px;
  padding-bottom: 17px;
}

.section__text {
  color: #000000;
  opacity: 0.62;
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  padding-bottom: 30px;
}

.about__us {
  display: flex;
}

.info {
  max-width: 480px;
  padding-top: 20px;
  margin-left: 112px;
}

.info__title {
  margin-bottom: 20px;
  color: #000000;
  font-family: "Merriweather";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.info__text {
  margin-bottom: 30px;
  color: #000000;
  opacity: 0.74;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
}

.under__aboutus__img {
  width: 479px;
  height: 412px;
}

.aboutus__img {
  max-width: 90%;
  max-height: 390px;
  margin: 0 auto;
  object-fit: cover;
}

/* featured works */

.container__works {
  /* max-width: 1600px; */
  margin: 129px 151px 125px 151px;
  background-color: #fff;
}

.section__titleworks {
  opacity: 0.9;
  color: #000000;
  font-family: "Montserrat";
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2.28px;
  padding-bottom: 17px;
}

.section__textworks {
  opacity: 0.62;
  color: #000000;
  font-family: "Merriweather";
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.02px;
  padding-bottom: 122px;
}

#grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
  max-width: 1100px;
  margin: 0 auto;
}

#grid > div {
  font-size: 5vw;
  padding: 0;
  text-align: center;
}

.works img {
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
  border: 0;
}

.works img:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* our services */

.section__four {
  /* max-width: 1600px; */
  background-color: #f9fbfb;
}

.section__headerservices {
  padding-top: 124px;
  padding-bottom: 125px;
}

.container__ourservices {
  padding-bottom: 125px;
}

.section__headerservices .section__title {
  opacity: 0.9;
  color: #000000;
  font-family: "Montserrat";
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2.28px;
  padding-bottom: 16px;
  text-align: center;
}

.section__headerservices .section__text {
  opacity: 0.62;
  color: #000000;
  font-family: "Merriweather";
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.02px;
  text-align: center;
}

.services {
  text-align: center;
}

.card {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  z-index: 10;
}

.img__card {
  position: relative;
}

.img__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card__content {
  position: absolute;
  top: 42%;
  left: 15%;
  z-index: 5;
  color: #fff;
  text-align: left;
}

.card__title {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.card__text {
  font-family: "Raleway", sans-serif;
  max-height: 70px;
  max-width: 300px;
  line-height: 1.9;
  opacity: 0.9;
  color: #eaecec;
  padding-bottom: 20px;
}

.card__btn {
  margin-top: 55px;
  padding: 3px 50px 3px 0px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #eaecec;
  opacity: 0.9;
  transition: 0.1s linear, color 0.1s linear;
}

.card__btn:hover {
  color: #333;
}

.overlay {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 422px;
  height: 100%;
  background-color: #6df6eb;
  border-top: 3px solid transparent;
  font-size: 18px;
  color: #313131;
  transition: all 0.7s;
  padding-right: 116px;
  padding-left: 66px;
  z-index: 20;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  opacity: 0.83;
  color: #000000;
  font-family: "Merriweather";
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-top: 63px;
  padding-bottom: 38px;
  text-align: left;
}

.overlay p {
  opacity: 0.75;
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.4px;
  text-align: left;
  padding-bottom: 30px;
}

.overlay button {
  padding-bottom: 56px;
}

.three__card,
.four__card {
  width: 100%;
  height: 371px;
}

.five__card,
.six__card {
  width: 100%;
  height: 370px;
}

/* small team */

.container__smallteam {
  padding-bottom: 118px;
}

.section__titleteam {
  opacity: 0.9;
  color: #000000;
  font-family: "Montserrat";
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2.28px;
  padding-top: 124px;
  padding-bottom: 16px;
}

.section__textteam {
  opacity: 0.62;
  color: #000000;
  font-family: "Merriweather";
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.02px;
  padding-bottom: 123px;
}

.team__container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 440px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  max-height: 440px;
  height: 100%;
}

.icon1 {
  grid-column: 1 / 2;
  grid-row: 1;
  background-image: url(../media/teammember-1.jpg);
}
.icon2 {
  grid-column: 2 / 3;
  grid-row: 1;
  background-image: url(../media/teammember-2.jpg);
}
.icon3 {
  grid-column: 3 / 4;
  grid-row: 1;
  background-image: url(../media/teammember-3.jpg);
}

.icon4 {
  grid-column: 1 / 2;
  grid-row: 2;
  background-image: url(../media/teammember-4.jpg);
}
.icon5 {
  grid-column: 2 / 3;
  grid-row: 2;
  background-image: url(../media/teammember-5.jpg);
}
.icon6 {
  grid-column: 3 / 4;
  grid-row: 2;
  background-image: url(../media/teammember-6.jpg);
}

.content {
  width: 80%;
  max-height: 241px;
  height: 100%;
  max-width: 335px;
  padding: 35px 35px 57px 35px;
  background-color: #6df6eb;
  box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: 184px;
  left: 35px;
  right: 17px;
  bottom: 15px;
}
.icon:hover .content {
  opacity: 1;
  transition: all 0.5s;
}

.teammembercard__content h4 {
  color: #272727;
  font-family: "Merriweather - Bold";
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 23px;
}

.teammembercard__content span {
  font-family: "Merriweather - Regular";
  font-weight: 400;
  letter-spacing: 0.45px;
}

.teammembercard__content p {
  opacity: 0.8;
  color: #000000;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  padding-bottom: 23px;
}

.teammember__link {
  text-decoration: none;
  color: #000;
  padding-right: 15px;
}

.teammember__link a {
  opacity: 0.7;
  color: #000000;
  font-family: "Font Awesome";
  font-size: 13px;
  font-weight: 400;
  line-height: 21.57px;
  letter-spacing: 0.15px;
}

.teammember__link:last-child {
  margin-right: 0;
}

/* what they say */

.wr__theysay {
  padding-bottom: 72px;
  background-color: #f9fbfb;
}

.container__theysay {
  padding-bottom: 141px;
  max-height: 460px;
  height: 100%;
}

.person {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.section__header h2 {
  opacity: 0.9;
  color: #000000;
  font-family: "Montserrat";
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2.28px;
  padding-top: 121px;
  padding-bottom: 15px;
}

.section__header p {
  opacity: 0.62;
  color: #000000;
  font-family: "Merriweather";
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.02px;
  padding-bottom: 137px;
}

/* первый слайдер */

.person__slide {
  max-width: 479px;
  width: 100%;
  max-height: 412px;
  height: 100%;
}

.image__person {
  max-width: 90%;
  max-height: 390px;
  margin: 0 auto;
  object-fit: cover;
}

/* второй слайдер */

.whatsay__slider {
  max-width: 700px;
  width: 100%;
  margin: auto auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.whatsay__slide {
  width: 670px;
  padding: 50px 0;
  outline: none;
  text-align: center;
  background-color: #eff0f2;
}

.name {
  margin-top: 30px;
  font-family: "Roboto-Bold";
  font-size: 20px;
  letter-spacing: 2px;
  color: #505050;
}

.position {
  font-family: "Roboto-Light";
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #505050;
}

.whatsay {
  font-family: "Roboto-Light";
  font-size: 12px;
  letter-spacing: 1px;
  color: #505050;
}

.stars {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #f2da3b;
}

/* logos */

.first__line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 35px;
}

.second__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second__line img:hover,
.first__line img:hover {
  opacity: 0.8;
}

.fix__bad_size {
  padding-top: 12px;
}

.both__logos {
  max-width: 1170px;
  margin: 0 auto;
}

.both__logos {
  margin: 108px 154px;
}

.first__line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 35px;
}

.second__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second__line img:hover,
.first__line img:hover {
  opacity: 0.8;
}

/* FEEDBACK */

.feedback__section {
  max-height: 704px;
  height: 100%;
  background: url(../media/footer-bg.jpg) no-repeat center;
}

.container__feedback {
  padding-bottom: 122px;
  padding-top: 121px;
  padding-left: 150px;
  padding-right: 150px;
}

.feedback {
  display: flex;
  align-items: center;
}

.allinput {
  display: inline-grid;
  margin-top: 25px;
  width: 100%;
}

.form {
  font-family: "Raleway", sans-serif;
  margin-right: 28px;
  text-align: left;
  width: 614px;
  height: 475px;
  box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
  background-color: #021623;
  opacity: 0.71;
}

.feedback__input {
  font-family: "Raleway", sans-serif;
  margin-left: 30px;
  padding-bottom: 15px;
  padding-top: 20px;
  width: 88%;
  background: none;
  border: 0;
  border-bottom: 1px solid #8d959a;
  color: rgba(255, 255, 255, 0.9);
}

.feedback__input::placeholder {
  color: #d1d4d7;
}

.feedback__input:focus {
  border: none;
}

.form__btn {
  margin-left: 30px;
  font-family: "Montserrat", sans-serif;
  border: 0;
  padding: 20px 40px 20px 40px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #214744;
  margin-top: 40px;
  background-color: #6eeee4;
  transition: 0.1s linear, color 0.1s linear;
}

.form__btn:hover {
  background-color: #fff;
  color: #333;
}

.map {
  background: rgba(38, 61, 75, 0.88);
  width: 500px;
  height: 475px;
  box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
  background-color: #021623;
  opacity: 0.71;
}

.adress {
  margin-top: 35px;
  margin-left: 30px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  color: #d1d4d7;
}

iframe {
  margin: 29px;
  width: 443px;
  height: 224px;
}

/*FOOTER*/

.footer {
  background-color: #262b2e;
  height: 310px;
}

.follow__us {
  font-family: "Raleway", sans-serif;
  padding-top: 93px;
  text-align: center;
  color: #fff;
}

.fotter__title {
  padding-bottom: 19px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.socials {
  padding-bottom: 43px;
}

.footer__link {
  text-decoration: none;
  background-color: #424648;
  color: #bbb8b9;
  padding: 10px 15px;
  margin-right: 7px;
}

/*фикс отступа у иконки*/

.padding_fix {
  padding-right: 10px;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  background-color: #6eeee4;
  color: #070e0d;
}

.copyright {
  color: #7d8082;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 93px;
}

/* max-width: 1000px */

@media screen and (max-width: 1000px) {
  .header {
    padding-bottom: 245px;
  }

  .section__text {
    padding-bottom: 40px;
  }

  .section__first {
    height: 560px;
    background-color: #eff0f2;
  }

  .offer {
    text-align: center;
    width: 100%;
  }

  .offer__title {
    text-align: center;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 45px;
    color: #505050;
    text-transform: uppercase;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    line-height: 50px;
    letter-spacing: 2.7px;
    margin-bottom: 150px;
  }

  .offer__title h1 {
    padding: 25px 10px 0px 10px;
  }

  .glass {
    position: absolute;
    left: 85%;
    top: 70%;
  }

  .section__textworks {
    padding-bottom: 55px;
  }

  .section__header p {
    padding-bottom: 45px;
  }

  .whatsay__slider {
    margin: 20px auto;
  }

  #grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  #grid > div {
    font-size: 5vw;
    padding: 0 0 10px 0;
  }

  .icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    max-height: 440px;
    height: 100%;
    max-width: 370px;
    width: 100%;
  }

  .icon1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../media/teammember-1.jpg);
  }
  .icon2 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../media/teammember-2.jpg);
  }
  .icon3 {
    grid-column: 1;
    grid-row: 3;
    background-image: url(../media/teammember-3.jpg);
  }

  .icon4 {
    grid-column: 1;
    grid-row: 4;
    background-image: url(../media/teammember-4.jpg);
  }
  .icon5 {
    grid-column: 1;
    grid-row: 5;
    background-image: url(../media/teammember-5.jpg);
  }
  .icon6 {
    grid-column: 1;
    grid-row: 6;
    background-image: url(../media/teammember-6.jpg);
  }

  .section__headerservices {
    padding-bottom: 30px;
  }

  .services {
    text-align: center;
  }

  .team__container {
    grid-template-rows: repeat(6, 440px);
    grid-template-columns: repeat(1, 370px);
    grid-row-gap: 10px;
    align-content: center;
    justify-content: center;
  }

  .card {
    max-height: 440px;
    height: 100%;
    max-width: 652px;
    width: 100%;
  }

  .card img {
    max-height: 440px;
    height: 100%;
    max-width: 652px;
    width: 100%;
  }

  .img__card {
    position: relative;
    max-height: 440px;
    height: 100%;
    max-width: 652px;
    width: 100%;
  }

  .img__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .card__content {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 5;
    color: #fff;
    text-align: left;
  }

  .card__title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  .card__text {
    font-family: "Raleway", sans-serif;
    max-width: 300px;
    line-height: 1.9;
    opacity: 0.9;
    color: #eaecec;
  }

  .card__btn {
    margin-top: 55px;
    padding: 3px 50px 3px 0px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #eaecec;
    opacity: 0.9;
    transition: 0.1s linear, color 0.1s linear;
  }

  .card__btn:hover {
    color: #333;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 440px;
    height: 100%;
    max-width: 652px;
    width: 100%;
    background-color: #6df6eb;
    border-top: 3px solid transparent;
    font-size: 18px;
    color: #313131;
    transition: all 0.7s;
    padding-right: 116px;
    padding-left: 66px;
    z-index: 20;
  }

  .two__card {
    max-height: 515px;
  }

  .card:hover .overlay {
    opacity: 1;
  }

  .overlay h3 {
    font-size: 15px;
    padding-top: 35px;
    padding-bottom: 30px;
  }

  .overlay p {
    opacity: 0.75;
    color: #000000;
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4px;
    text-align: left;
    padding-bottom: 30px;
  }

  .overlay button {
    padding-bottom: 56px;
  }

  .three__card {
    width: 100%;
    height: 370px;
  }

  .four__card {
    width: 100%;
    height: 440px;
  }

  .five__card {
    width: 100%;
    height: 440px;
  }

  .six__card {
    width: 100%;
    height: 370px;
  }

  .wr__theysay {
    padding-bottom: 72px;
    background-color: #f9fbfb;
    height: 970px;
  }

  .section__textteam {
    padding-bottom: 60px;
  }

  .person {
    display: block;
    vertical-align: middle;
  }

  .person__slider {
    max-width: 370px;
    width: 22%;
    max-height: 440px;
    margin: 0 auto;
    padding: 0px 24px;
  }

  .container__header {
    padding: 0 15px;
  }

  .about__us {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .info {
    padding-top: 80px;
    margin-left: 0;
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .both__logos .first__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 0;
  }

  .both__logos .second__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .card,
  .card__example {
    width: 100%;
  }
  .card img {
    width: 100%;
  }
  .card__content {
    top: 35%;
  }
  .second__line,
  .first__line {
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__section {
    max-height: 1100px;
    height: 100%;
    background: none;
    background-color: #f9fbfb;
  }

  .feedback {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 440px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .form {
    margin-top: 0;
    margin-right: 0px;
    width: auto;
    max-height: 440px;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .map {
    margin-top: 0px;
    background: rgba(38, 61, 75, 0.88);
    width: auto;
    max-height: 440px;
    height: 100%;
    box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
    background-color: #021623;
    opacity: 0.71;
  }

  .adress {
    margin-top: 35px;
    margin-left: 30px;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    color: #d1d4d7;
  }

  iframe {
    margin: 29px;
    width: 443px;
    height: 180px;
  }

  .form__btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* max-width: 850px */

@media screen and (max-width: 850px) {
  .header {
    padding-bottom: 245px;
  }

  .section__text {
    padding-bottom: 40px;
  }

  .section__first {
    height: 560px;
    background-color: #eff0f2;
  }

  .offer {
    text-align: center;
    width: 100%;
  }

  .offer__title {
    text-align: center;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 45px;
    color: #505050;
    text-transform: uppercase;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    line-height: 50px;
    letter-spacing: 2.7px;
    margin-bottom: 150px;
  }

  .offer__title h1 {
    padding: 25px 10px 0px 10px;
  }

  .glass {
    position: absolute;
    left: 85%;
    top: 70%;
  }

  .section__textworks {
    padding-bottom: 55px;
  }

  #grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  #grid > div {
    font-size: 5vw;
    padding: 0 0 10px 0;
  }

  .team__container {
    max-width: 1100px;
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 440px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    max-height: 440px;
    height: 100%;
  }

  .icon1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../media/teammember-1.jpg);
  }
  .icon2 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../media/teammember-2.jpg);
  }
  .icon3 {
    grid-column: 1;
    grid-row: 3;
    background-image: url(../media/teammember-3.jpg);
  }

  .icon4 {
    grid-column: 1;
    grid-row: 4;
    background-image: url(../media/teammember-4.jpg);
  }
  .icon5 {
    grid-column: 1;
    grid-row: 5;
    background-image: url(../media/teammember-5.jpg);
  }
  .icon6 {
    grid-column: 1;
    grid-row: 6;
    background-image: url(../media/teammember-6.jpg);
  }

  .section__headerservices {
    padding-bottom: 30px;
  }

  .services {
    text-align: center;
  }

  .card {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    z-index: 10;
  }

  .img__card {
    position: relative;
  }

  .img__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .card__content {
    position: absolute;
    top: 42%;
    left: 15%;
    z-index: 5;
    color: #fff;
    text-align: left;
  }

  .card__title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  .card__text {
    font-family: "Raleway", sans-serif;
    max-width: 300px;
    line-height: 1.9;
    opacity: 0.9;
    color: #eaecec;
  }

  .card__btn {
    margin-top: 55px;
    padding: 3px 50px 3px 0px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #eaecec;
    opacity: 0.9;
    transition: 0.1s linear, color 0.1s linear;
  }

  .card__btn:hover {
    color: #333;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 455px;
    height: 100%;
    background-color: #6df6eb;
    border-top: 3px solid transparent;
    font-size: 18px;
    color: #313131;
    transition: all 0.7s;
    padding-right: 116px;
    padding-left: 66px;
    z-index: 20;
  }

  .two__card {
    max-height: 515px;
  }

  .card:hover .overlay {
    opacity: 1;
  }

  .overlay h3 {
    font-size: 18px;
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .overlay p {
    opacity: 0.75;
    color: #000000;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4px;
    text-align: left;
    padding-bottom: 30px;
  }

  .overlay button {
    padding-bottom: 56px;
  }

  .three__card {
    width: 100%;
    height: 370px;
  }

  .four__card {
    width: 100%;
    height: 441px;
  }

  .five__card {
    width: 100%;
    height: 440px;
  }

  .six__card {
    width: 100%;
    height: 370px;
  }

  .team__container {
    grid-template-rows: repeat(6, 500px);
    grid-row-gap: 10px;
  }

  .icon {
    max-height: 500px;
    height: 100%;
  }

  .section__textteam {
    padding-bottom: 60px;
  }

  .person {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container__header {
    padding: 0 15px;
  }

  .about__us {
    flex-wrap: wrap;
    justify-content: center;
  }

  .both__logos .first__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 0;
  }

  .both__logos .second__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .info {
    padding-top: 80px;
    margin-left: 0;
    text-align: center;
  }
  .card,
  .card__example {
    width: 100%;
  }
  .card img {
    width: 100%;
  }
  .card__content {
    top: 35%;
  }
  .second__line,
  .first__line {
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__section {
    max-height: 1100px;
    height: 100%;
    background: none;
    background-color: #f9fbfb;
  }

  .feedback {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 440px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .form {
    margin-top: 0;
    margin-right: 0px;
    width: auto;
    max-height: 440px;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .map {
    margin-top: 0px;
    background: rgba(38, 61, 75, 0.88);
    width: auto;
    max-height: 440px;
    height: 100%;
    box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
    background-color: #021623;
    opacity: 0.71;
  }

  .adress {
    margin-top: 35px;
    margin-left: 30px;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    color: #d1d4d7;
  }

  iframe {
    margin: 29px;
    width: 443px;
    height: 180px;
  }

  .form__btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* max-width: 750px */

@media screen and (max-width: 750px) {
  .header {
    padding-bottom: 245px;
  }

  .section__text {
    padding-bottom: 40px;
  }

  .section__first {
    height: 560px;
    background-color: #eff0f2;
  }

  .offer {
    text-align: center;
    width: 100%;
  }

  .offer__title {
    text-align: center;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 45px;
    color: #505050;
    text-transform: uppercase;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    line-height: 50px;
    letter-spacing: 2.7px;
    margin-bottom: 150px;
  }

  .offer__title h1 {
    padding: 25px 10px 0px 10px;
  }

  .glass {
    position: absolute;
    left: 85%;
    top: 70%;
  }

  .section__textworks {
    padding-bottom: 55px;
  }

  #grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  #grid > div {
    font-size: 5vw;
    padding: 0 0 10px 0;
  }

  .team__container {
    max-width: 1100px;
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 440px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    max-height: 440px;
    height: 100%;
  }

  .icon1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../media/teammember-1.jpg);
  }
  .icon2 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../media/teammember-2.jpg);
  }
  .icon3 {
    grid-column: 1;
    grid-row: 3;
    background-image: url(../media/teammember-3.jpg);
  }

  .icon4 {
    grid-column: 1;
    grid-row: 4;
    background-image: url(../media/teammember-4.jpg);
  }
  .icon5 {
    grid-column: 1;
    grid-row: 5;
    background-image: url(../media/teammember-5.jpg);
  }
  .icon6 {
    grid-column: 1;
    grid-row: 6;
    background-image: url(../media/teammember-6.jpg);
  }

  .section__headerservices {
    padding-bottom: 30px;
  }

  .services {
    text-align: center;
  }

  .card {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    z-index: 10;
  }

  .img__card {
    position: relative;
    max-height: 440px;
    height: 100%;
  }

  .img__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .card__content {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 5;
    color: #fff;
    text-align: left;
  }

  .card__title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  .card__text {
    font-family: "Raleway", sans-serif;
    max-width: 300px;
    line-height: 1.9;
    opacity: 0.9;
    color: #eaecec;
  }

  .card__btn {
    margin-top: 55px;
    padding: 3px 50px 3px 0px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #eaecec;
    opacity: 0.9;
    transition: 0.1s linear, color 0.1s linear;
  }

  .card__btn:hover {
    color: #333;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 440px;
    height: 100%;
    background-color: #6df6eb;
    border-top: 3px solid transparent;
    font-size: 18px;
    color: #313131;
    transition: all 0.7s;
    padding-right: 116px;
    padding-left: 66px;
    z-index: 20;
  }

  .two__card {
    max-height: 515px;
  }

  .card:hover .overlay {
    opacity: 1;
  }

  .overlay h3 {
    font-size: 15px;
    padding-top: 35px;
    padding-bottom: 30px;
  }

  .overlay p {
    opacity: 0.75;
    color: #000000;
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4px;
    text-align: left;
    padding-bottom: 30px;
  }

  .overlay button {
    padding-bottom: 56px;
  }

  .three__card {
    width: 100%;
    height: 371px;
  }

  .four__card {
    width: 100%;
    height: 440px;
  }

  .five__card {
    width: 100%;
    height: 440px;
  }

  .six__card {
    width: 100%;
    height: 371px;
  }

  .wr__theysay {
    padding-bottom: 72px;
    background-color: #f9fbfb;
    height: 970px;
  }

  .team__container {
    grid-template-rows: repeat(6, 500px);
    grid-row-gap: 10px;
  }

  .icon {
    max-height: 500px;
    height: 100%;
  }

  .section__textteam {
    padding-bottom: 60px;
  }

  .person {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container__header {
    padding: 0 15px;
  }

  .about__us {
    flex-wrap: wrap;
    justify-content: center;
  }

  .both__logos .first__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 0;
  }

  .both__logos .second__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .info {
    padding-top: 80px;
    margin-left: 0;
    text-align: center;
  }
  .card,
  .card__example {
    width: 100%;
  }
  .card img {
    width: 100%;
  }
  .card__content {
    top: 35%;
  }
  .second__line,
  .first__line {
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__section {
    max-height: 1100px;
    height: 100%;
    background: none;
    background-color: #f9fbfb;
  }

  .feedback {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 440px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .form {
    margin-top: 0;
    margin-right: 0px;
    width: auto;
    max-height: 440px;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .map {
    margin-top: 0px;
    background: rgba(38, 61, 75, 0.88);
    width: auto;
    max-height: 440px;
    height: 100%;
    box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
    background-color: #021623;
    opacity: 0.71;
  }

  .adress {
    margin-top: 35px;
    margin-left: 30px;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    color: #d1d4d7;
  }

  iframe {
    margin: 29px;
    width: 443px;
    height: 180px;
  }

  .form__btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* max-width: 550px */

@media screen and (max-width: 550px) {
  .header {
    padding-bottom: 245px;
  }

  .section__text {
    padding-bottom: 40px;
  }

  .section__first {
    height: 700px;
    background-color: #eff0f2;
  }

  .offer {
    text-align: center;
    width: 100%;
  }

  .offer__title {
    text-align: center;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 45px;
    color: #505050;
    text-transform: uppercase;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    line-height: 50px;
    letter-spacing: 2.7px;
    margin-bottom: 110px;
  }

  .offer__title h1 {
    padding: 10px 10px 0px 10px;
  }

  .glass {
    position: absolute;
    left: 73%;
    top: 80%;
  }

  .container__aboutus {
    padding-top: 129px;
    padding-bottom: 113px;
  }

  .section__header {
    text-align: center;
    text-transform: uppercase;
    max-width: 550px;
    width: 100%;
    line-height: 1px;
  }

  .section__textworks {
    padding-bottom: 55px;
    max-width: 550px;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
  }

  .section__title {
    color: #000000;
    opacity: 0.9;
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-bottom: 17px;
    text-align: center;
  }

  .section__text {
    padding-bottom: 65px;
    text-align: center;
  }

  .about__us {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .about__us .under__aboutus__img {
    max-width: 375px;
    position: relative;
    width: 90%;
  }

  .info {
    padding-top: 20px;
    margin-left: 0;
    text-align: center;
  }

  .container__works {
    background-color: #fff;
    margin: 129px 50px 125px 50px;
    background-color: #fff;
  }

  .section__titleworks {
    opacity: 0.9;
    color: #000000;
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-bottom: 17px;
    padding-top: 80px;
  }

  #grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  #grid > div {
    font-size: 5vw;
    padding: 0 0 10px 0;
  }

  .works img {
    vertical-align: middle;
    object-fit: cover;
    width: 90%;
    border: 0;
  }

  .container__ourservices {
    padding-bottom: 125px;
  }

  .section__headerservices {
    padding-bottom: 30px;
    max-width: 550px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  .section__headerservices .section__title {
    opacity: 0.9;
    color: #000000;
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 43px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-bottom: 16px;
    text-align: center;
  }

  .section__headerservices .section__text {
    opacity: 0.62;
    color: #000000;
    font-family: "Merriweather";
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.02px;
    text-align: center;
  }

  .card,
  .card__example {
    height: 500px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
  }

  .card {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    z-index: 10;
  }

  .img__card {
    position: relative;
    max-height: 500px;
    height: 100%;
  }

  .card__content {
    position: absolute;
    top: 20%;
    left: 7%;
    right: 7%;
    z-index: 5;
    color: #fff;
    text-align: left;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 500px;
    height: 100%;
    background-color: #6df6eb;
    border-top: 3px solid transparent;
    font-size: 18px;
    color: #313131;
    transition: all 0.7s;
    padding-right: 50px;
    padding-left: 50px;
    z-index: 20;
  }

  .overlay h3 {
    font-size: 18px;
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .overlay p {
    opacity: 0.75;
    color: #000000;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4px;
    text-align: left;
    padding-bottom: 30px;
  }

  .three__card {
    width: 100%;
    height: 500px;
  }

  .four__card {
    width: 100%;
    height: 500px;
  }

  .five__card {
    width: 100%;
    height: 500px;
  }

  .six__card {
    width: 100%;
    height: 500px;
  }

  .container__smallteam {
    padding-bottom: 118px;
  }

  .section__titleteam {
    opacity: 0.9;
    color: #000000;
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-top: 124px;
    padding-bottom: 16px;
  }

  .section__textteam {
    padding-bottom: 60px;
    max-width: 550px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .team__container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 440px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .icon {
    max-height: 440px;
    height: 100%;
    max-width: 300px;
    width: 100%;
  }

  .icon1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../media/teammember-1.jpg);
  }
  .icon2 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../media/teammember-2.jpg);
  }
  .icon3 {
    grid-column: 1;
    grid-row: 3;
    background-image: url(../media/teammember-3.jpg);
  }

  .icon4 {
    grid-column: 1;
    grid-row: 4;
    background-image: url(../media/teammember-4.jpg);
  }
  .icon5 {
    grid-column: 1;
    grid-row: 5;
    background-image: url(../media/teammember-5.jpg);
  }
  .icon6 {
    grid-column: 1;
    grid-row: 6;
    background-image: url(../media/teammember-6.jpg);
  }

  .wr__theysay {
    padding-bottom: 72px;
    background-color: #f9fbfb;
    height: 1080px;
  }

  .section__header h2 {
    opacity: 0.9;
    color: #000000;
    font-family: "Montserrat";
    font-size: 33px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-top: 70px;
    padding-bottom: 15px;
  }

  .section__header p {
    opacity: 0.62;
    color: #000000;
    font-family: "Merriweather";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.02px;
    padding-bottom: 45px;
  }

  .container__theysay {
    max-height: 440px;
    height: 100%;
    max-width: 550px;
    width: 100%;
  }

  .both__logos {
    margin: 108px 200px;
  }

  .both__logos .first__line {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 0;
  }

  .both__logos .second__line {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .feedback__section {
    max-height: 1270px;
    height: 100%;
    background: none;
    background-color: #f9fbfb;
  }

  .container__feedback {
    padding-bottom: 90px;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .feedback {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 550px);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .form {
    margin-top: 0;
    margin-right: 0px;
    max-height: 550px;
    height: 100%;
    max-width: 550px;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .form__btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .map {
    margin-top: 0px;
    background: rgba(38, 61, 75, 0.88);
    max-width: 550px;
    width: 100%;
    max-height: 550px;
    height: 100%;
    box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
    background-color: #021623;
    opacity: 0.71;
  }

  iframe {
    margin: 29px;
    width: 470px;
    height: 280px;
  }

  .copyright {
    color: #7d8082;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 93px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* max-width: 375px */
@media screen and (max-width: 375px) {
  .header {
    padding-bottom: 245px;
  }

  .section__text {
    padding-bottom: 40px;
  }

  .section__first {
    height: 700px;
    background-color: #eff0f2;
  }

  .offer {
    text-align: center;
    width: 100%;
  }

  .offer__title {
    text-align: center;
    font-family: "montserrat";
    font-weight: 700;
    font-size: 45px;
    color: #505050;
    text-transform: uppercase;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    line-height: 50px;
    letter-spacing: 2.7px;
    margin-bottom: 110px;
  }

  .offer__title h1 {
    padding: 10px 10px 0px 10px;
  }

  .glass {
    position: absolute;
    left: 60%;
    top: 114%;
  }

  .container__aboutus {
    padding-top: 129px;
    padding-bottom: 113px;
  }

  .section__header {
    text-align: center;
    text-transform: uppercase;
    max-width: 375px;
    width: 100%;
    line-height: 1px;
  }

  .section__title {
    color: #000000;
    opacity: 0.9;
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-bottom: 17px;
    text-align: center;
  }

  .section__text {
    padding-bottom: 65px;
    text-align: center;
  }

  .about__us {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .about__us .under__aboutus__img {
    max-width: 375px;
    position: relative;
    width: 90%;
  }

  .info {
    padding-top: 20px;
    margin-left: 0;
    text-align: center;
  }

  .container__works {
    background-color: #fff;
    margin: 129px 50px 125px 50px;
    background-color: #fff;
  }

  .section__header {
    text-align: center;
    text-transform: uppercase;
    max-width: 375px;
    width: 100%;
    line-height: 1px;
  }

  .section__titleworks {
    opacity: 0.9;
    color: #000000;
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-bottom: 17px;
    padding-top: 80px;
  }

  .section__textworks {
    padding-bottom: 55px;
    max-width: 375px;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
  }

  #grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  #grid > div {
    font-size: 5vw;
    padding: 0 0 10px 0;
  }

  .works img {
    vertical-align: middle;
    object-fit: cover;
    width: 90%;
    border: 0;
  }

  .container__ourservices {
    padding-bottom: 125px;
  }

  .section__headerservices {
    padding-bottom: 30px;
    max-width: 375px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  .section__headerservices .section__title {
    opacity: 0.9;
    color: #000000;
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 43px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-bottom: 16px;
    text-align: center;
  }

  .section__headerservices .section__text {
    opacity: 0.62;
    color: #000000;
    font-family: "Merriweather";
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.02px;
    text-align: center;
  }

  .card,
  .card__example {
    height: 500px;
    width: 100%;
    max-width: 300px;
    max-height: 500px;
  }

  .card {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    z-index: 10;
  }

  .img__card {
    position: relative;
    max-height: 500px;
    height: 100%;
  }

  .card__content {
    position: absolute;
    top: 20%;
    left: 7%;
    right: 7%;
    z-index: 5;
    color: #fff;
    text-align: left;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 500px;
    height: 100%;
    background-color: #6df6eb;
    border-top: 3px solid transparent;
    font-size: 18px;
    color: #313131;
    transition: all 0.7s;
    padding-right: 50px;
    padding-left: 50px;
    z-index: 20;
  }

  .overlay h3 {
    font-size: 15px;
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .overlay p {
    opacity: 0.75;
    color: #000000;
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4px;
    text-align: left;
    padding-bottom: 30px;
  }

  .three__card {
    width: 100%;
    height: 500px;
  }

  .four__card {
    width: 100%;
    height: 500px;
  }

  .five__card {
    width: 100%;
    height: 500px;
  }

  .six__card {
    width: 100%;
    height: 500px;
  }

  .container__smallteam {
    padding-bottom: 118px;
  }

  .section__header {
    text-align: center;
    text-transform: uppercase;
    max-width: 375px;
    width: 100%;
    line-height: 1px;
  }

  .section__titleteam {
    opacity: 0.9;
    color: #000000;
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-top: 124px;
    padding-bottom: 16px;
  }

  .section__textteam {
    padding-bottom: 60px;
    max-width: 375px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .team__container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 440px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .icon {
    max-height: 440px;
    height: 100%;
    max-width: 300px;
    width: 100%;
  }

  .icon1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../media/teammember-1.jpg);
  }
  .icon2 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../media/teammember-2.jpg);
  }
  .icon3 {
    grid-column: 1;
    grid-row: 3;
    background-image: url(../media/teammember-3.jpg);
  }

  .icon4 {
    grid-column: 1;
    grid-row: 4;
    background-image: url(../media/teammember-4.jpg);
  }
  .icon5 {
    grid-column: 1;
    grid-row: 5;
    background-image: url(../media/teammember-5.jpg);
  }
  .icon6 {
    grid-column: 1;
    grid-row: 6;
    background-image: url(../media/teammember-6.jpg);
  }

  .wr__theysay {
    padding-bottom: 72px;
    background-color: #f9fbfb;
    height: 1080px;
  }

  .section__header {
    text-align: center;
    text-transform: uppercase;
    max-width: 375px;
    width: 100%;
    line-height: 1px;
  }

  .section__header h2 {
    opacity: 0.9;
    color: #000000;
    font-family: "Montserrat";
    font-size: 33px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 2.28px;
    padding-top: 70px;
    padding-bottom: 15px;
  }

  .section__header p {
    opacity: 0.62;
    color: #000000;
    font-family: "Merriweather";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.02px;
    padding-bottom: 45px;
  }

  .container__theysay {
    max-height: 440px;
    height: 100%;
    max-width: 375px;
    width: 100%;
  }

  .both__logos {
    margin: 108px 154px;
  }

  .both__logos .first__line {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 0;
  }

  .both__logos .second__line {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .feedback__section {
    max-height: 1100px;
    height: 100%;
    background: none;
    background-color: #f9fbfb;
  }

  .container__feedback {
    padding-bottom: 90px;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .feedback {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 440px);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .form {
    margin-top: 0;
    margin-right: 0px;
    max-height: 440px;
    height: 100%;
    max-width: 370px;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .form__btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .map {
    margin-top: 0px;
    background: rgba(38, 61, 75, 0.88);
    max-width: 375px;
    width: 100%;
    max-height: 440px;
    height: 100%;
    box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
    background-color: #021623;
    opacity: 0.71;
  }

  iframe {
    margin: 29px;
    width: 300px;
    height: 180px;
  }

  .copyright {
    color: #7d8082;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 93px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
